body {
    margin: 0;
    width:100%;
    max-width:100%;
    height:100%;
    max-height:100%;
    overflow:hidden;
    background:#000;
    border: 0;
    padding: 0;
}

/* handle grid */
.grid-stack-item-content { 
    background-color: #fff; margin: 0; overflow:auto hidden !important; 
}
.grid-stack>.grid-stack-item {
    min-width: 5.5555555556%;
    width: 100%;
}

.grid-stack>.grid-stack-item[gs-w="1"] {
    width: 5.5555555556%
}

.grid-stack>.grid-stack-item[gs-x="1"] {
    left: 5.5555555556%
}

.grid-stack>.grid-stack-item[gs-min-w="1"] {
    min-width: 5.5555555556%
}

.grid-stack>.grid-stack-item[gs-max-w="1"] {
    max-width: 5.5555555556%
}

.grid-stack>.grid-stack-item[gs-w="2"] {
    width: 11.1111111111%
}

.grid-stack>.grid-stack-item[gs-x="2"] {
    left: 11.1111111111%
}

.grid-stack>.grid-stack-item[gs-min-w="2"] {
    min-width: 11.1111111111%
}

.grid-stack>.grid-stack-item[gs-max-w="2"] {
    max-width: 11.1111111111%
}

.grid-stack>.grid-stack-item[gs-w="3"] {
    width: 16.6666666667%
}

.grid-stack>.grid-stack-item[gs-x="3"] {
    left: 16.6666666667%
}

.grid-stack>.grid-stack-item[gs-min-w="3"] {
    min-width: 16.6666666667%
}

.grid-stack>.grid-stack-item[gs-max-w="3"] {
    max-width: 16.6666666667%
}

.grid-stack>.grid-stack-item[gs-w="4"] {
    width: 22.2222222222%
}

.grid-stack>.grid-stack-item[gs-x="4"] {
    left: 22.2222222222%
}

.grid-stack>.grid-stack-item[gs-min-w="4"] {
    min-width: 22.2222222222%
}

.grid-stack>.grid-stack-item[gs-max-w="4"] {
    max-width: 22.2222222222%
}

.grid-stack>.grid-stack-item[gs-w="5"] {
    width: 27.7777777778%
}

.grid-stack>.grid-stack-item[gs-x="5"] {
    left: 27.7777777778%
}

.grid-stack>.grid-stack-item[gs-min-w="5"] {
    min-width: 27.7777777778%
}

.grid-stack>.grid-stack-item[gs-max-w="5"] {
    max-width: 27.7777777778%
}

.grid-stack>.grid-stack-item[gs-w="6"] {
    width: 33.3333333333%
}

.grid-stack>.grid-stack-item[gs-x="6"] {
    left: 33.3333333333%
}

.grid-stack>.grid-stack-item[gs-min-w="6"] {
    min-width: 33.3333333333%
}

.grid-stack>.grid-stack-item[gs-max-w="6"] {
    max-width: 33.3333333333%
}

.grid-stack>.grid-stack-item[gs-w="7"] {
    width: 38.8888888889%
}

.grid-stack>.grid-stack-item[gs-x="7"] {
    left: 38.8888888889%
}

.grid-stack>.grid-stack-item[gs-min-w="7"] {
    min-width: 38.8888888889%
}

.grid-stack>.grid-stack-item[gs-max-w="7"] {
    max-width: 38.8888888889%
}

.grid-stack>.grid-stack-item[gs-w="8"] {
    width: 44.4444444444%
}

.grid-stack>.grid-stack-item[gs-x="8"] {
    left: 44.4444444444%
}

.grid-stack>.grid-stack-item[gs-min-w="8"] {
    min-width: 44.4444444444%
}

.grid-stack>.grid-stack-item[gs-max-w="8"] {
    max-width: 44.4444444444%
}

.grid-stack>.grid-stack-item[gs-w="9"] {
    width: 50%
}

.grid-stack>.grid-stack-item[gs-x="9"] {
    left: 50%
}

.grid-stack>.grid-stack-item[gs-min-w="9"] {
    min-width: 50%
}

.grid-stack>.grid-stack-item[gs-max-w="9"] {
    max-width: 50%
}

.grid-stack>.grid-stack-item[gs-w="10"] {
    width: 55.5555555556%
}

.grid-stack>.grid-stack-item[gs-x="10"] {
    left: 55.5555555556%
}

.grid-stack>.grid-stack-item[gs-min-w="10"] {
    min-width: 55.5555555556%
}

.grid-stack>.grid-stack-item[gs-max-w="10"] {
    max-width: 55.5555555556%
}

.grid-stack>.grid-stack-item[gs-w="11"] {
    width: 61.1111111111%
}

.grid-stack>.grid-stack-item[gs-x="11"] {
    left: 61.1111111111%
}

.grid-stack>.grid-stack-item[gs-min-w="11"] {
    min-width: 61.1111111111%
}

.grid-stack>.grid-stack-item[gs-max-w="11"] {
    max-width: 61.1111111111%
}

.grid-stack>.grid-stack-item[gs-w="12"] {
    width: 66.6666666667%
}

.grid-stack>.grid-stack-item[gs-x="12"] {
    left: 66.6666666667%
}

.grid-stack>.grid-stack-item[gs-min-w="12"] {
    min-width: 66.6666666667%
}

.grid-stack>.grid-stack-item[gs-max-w="12"] {
    max-width: 66.6666666667%
}

.grid-stack>.grid-stack-item[gs-w="13"] {
    width: 72.2222222222%
}

.grid-stack>.grid-stack-item[gs-x="13"] {
    left: 72.2222222222%
}

.grid-stack>.grid-stack-item[gs-min-w="13"] {
    min-width: 72.2222222222%
}

.grid-stack>.grid-stack-item[gs-max-w="13"] {
    max-width: 72.2222222222%
}

.grid-stack>.grid-stack-item[gs-w="14"] {
    width: 77.7777777778%
}

.grid-stack>.grid-stack-item[gs-x="14"] {
    left: 77.7777777778%
}

.grid-stack>.grid-stack-item[gs-min-w="14"] {
    min-width: 77.7777777778%
}

.grid-stack>.grid-stack-item[gs-max-w="14"] {
    max-width: 77.7777777778%
}

.grid-stack>.grid-stack-item[gs-w="15"] {
    width: 83.3333333333%
}

.grid-stack>.grid-stack-item[gs-x="15"] {
    left: 83.3333333333%
}

.grid-stack>.grid-stack-item[gs-min-w="15"] {
    min-width: 83.3333333333%
}

.grid-stack>.grid-stack-item[gs-max-w="15"] {
    max-width: 83.3333333333%
}

.grid-stack>.grid-stack-item[gs-w="16"] {
    width: 88.8888888889%
}

.grid-stack>.grid-stack-item[gs-x="16"] {
    left: 88.8888888889%
}

.grid-stack>.grid-stack-item[gs-min-w="16"] {
    min-width: 88.8888888889%
}

.grid-stack>.grid-stack-item[gs-max-w="16"] {
    max-width: 88.8888888889%
}

.grid-stack>.grid-stack-item[gs-w="17"] {
    width: 94.4444444444%
}

.grid-stack>.grid-stack-item[gs-x="17"] {
    left: 94.4444444444%
}

.grid-stack>.grid-stack-item[gs-min-w="17"] {
    min-width: 94.4444444444%
}

.grid-stack>.grid-stack-item[gs-max-w="17"] {
    max-width: 94.4444444444%
}

.grid-stack>.grid-stack-item[gs-w="18"] {
    width: 100%
}

.grid-stack>.grid-stack-item[gs-x="18"] {
    left: 100%
}

.grid-stack>.grid-stack-item[gs-min-w="18"] {
    min-width: 100%
}

.grid-stack>.grid-stack-item[gs-max-w="18"] {
    max-width: 100%
}

.slider-container {
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    overflow: hidden; /* Hide overflow for full-screen effect */
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* handle running text */
.marquee {
    position: fixed;
    border:0;
    bottom: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    height: 60px;
    line-height: 60px;

    /* color here */
    background: #000;
    color: #fff;
    font-size: 60px;
    font-family: 'Arial';
}
